.contact-form{
    background-color: hsl(216, 21%, 14%);
    color: rgb(199, 198, 198);
    margin-left: 22%;
    margin-top: 20px;
    margin-bottom: 30px;
   
    padding: 40px;
    border-radius: 7px;
    height: 50%;
    width: 50%;
}
.contact-form input{
    background: white;
    border: none;
    border-radius: 4px;
    height: 60px;
    width: 100%;
}
.contact-form input:focus{
    outline: none;
  

}
.contact-form textarea{
    background: white;
    border: none;
    border-radius: 4px;
    height: 90px;
    width: 100%;
}
.contact-form button{
    background-color: hsl(208, 100%, 33%);
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;

}